<h1>Goodbye!</h1>
<p>It was nice having you.</p>

<p>Time to say <%= link_to "Hello", say_hello_path %>!</p>

<%= (2 * 10) + (9/2) + 18 %></br>

<%= "surf " + "bum" %></br>

<%= 1.hour.from_now.localtime %></br>

<ul><%= @files %></ul>
